.sidenav-container {
  display: flex;
  height: 100%;

  mat-nav-list {
    a {
      .active {
        background-color: accent;
      }
    }
  }
}

.sidenav {
  width: 20vw;
  position: static;
}

.mat-drawer-content {
  width: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
