@import 'theme.scss';

.theme {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: world-of-water;

  .sub-container {
    padding: 0 0 0 2vw;
  }
}

.pointer:hover {
  cursor: pointer;
}
