@import '~@angular/material/theming';

@font-face {
  font-family: 'world-of-water';
  src: url('../src/assets/fonts/world-of-water.regular.ttf');
}

$theme-primary: mat-palette($mat-green, A100);
$theme-accent: mat-palette($mat-lime, 50);
$theme-warn: mat-palette($mat-deep-orange, A200);
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
@include angular-material-theme($theme);

$custom-typography: mat-typography-config($font-family: 'world-of-water');
@include mat-base-typography($custom-typography);
@include mat-core($custom-typography);
