<div class="sub-container">
  <h2>
    There are several ways to reach me out:
  </h2>

  <h4>Via</h4>

  <a href="https://www.facebook.com/Etty-Chaimowicz-Art-224885484820136/?ref=br_tf" target="_blank">
    <img src="../../assets/images/facebook-box.png">
  </a>

  <div class="mail-container">
    <img src="../../assets/images/email.png">

    <span>etty.chaimowicz@gmail.com</span>
  </div>

  <div class="instegram-container">
    <a href="https://www.instagram.com/ettychaimowicz/" target="_blank">
      <img src="../../assets/images/instagram.png">
    </a>
  </div>
</div>
