div.sub-container {
  padding: 1% 0 0 1%;

  div.header-container {
    display: flex;
    align-items: center;

    div.image-container {
      display: flex;
      align-items: center;

      img {
        width: 10%;
        padding: 0 1% 0 0;
        height: 5vh;
      }
    }
  }

  .description-container {
    margin: 0 1% 1% 1%;
  }

  div.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 0 1% 1% 1%;
      max-width: calc(100% * (1/4) - 1% - 1% - 7%);
      // TODO - handle these image sizes
      // height: 30vh;

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
      }
    }
  }
}
