div.sub-container {
  padding: 1% 0 0 1%;

  div.header-container {
    display: flex;
    align-items: center;

    div.image-container {
      height: 5vh;
      padding: 0 1% 0 0;

      img {
        max-height: 100%;
      }
    }
  }

  .description-container {
    margin: 0 1% 1% 1%;
  }

  div.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 0 1% 1% 1%;
      text-align: center;
      flex: 1;

      img {
        max-width: 100%;
      }
    }
  }
}
