<div class="sub-container">
  <h2>Home page</h2>

  <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
    <ngu-tile *nguCarouselDef="let item;">
      <div class="tile">
        <img [src]="item">
      </div>
    </ngu-tile>

    <button mat-raised-button color="primary" NguCarouselNext class="rightRs">
      <img src="../../assets/images/baseline_arrow_forward_ios_black_18dp.png">
    </button>

    <button mat-raised-button color="primary" NguCarouselPrev class="leftRs">
      <img src="../../assets/images/baseline_arrow_back_ios_black_18dp.png">
    </button>
  </ngu-carousel>
</div>
