// TODO - handle style for images

div.dialog-container {
  overflow: auto;

  div.image-container {
    text-align: center;
    max-width: 20vw;
    margin: auto;

    img {
      max-width: 100%
    }
  }
}
