div.sub-container {
  padding: 1% 0 0 1%;

  div.header-container {
    display: flex;
    align-items: center;
  }

  .description-container {
    margin: 0 1% 1% 1%;
  }

  div.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 0 1% 1% 1%;
      width: calc(100% * (1/4) - 1% - 1% - 7%);
    }
  }
}
